body {
  background-color: rgb(26, 26, 26);
  color: #EAEAEA;
  margin: 0;
  padding: 0;
}

body a {
  color: white;
}

h1 {
  margin: 0;
  padding: 1.5rem 0 0;
}

header {
  margin: 0 1rem;
}

header a {
  text-decoration: none;
}

header a:hover {
  color: white;
}

#about-link {
  margin: 0 0 1rem 0;
}

#wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.alignright {
  float: right;
  max-width: 40%;
}

img {
  margin: 1em;
}

.post-wrapper {
  background-color: white;
  border-bottom: solid #FF7F00 6px;
}

.post-wrapper header a {
  color: black;
  text-shadow: none;
}

.post {
  background-color: white;
  color: #333;
  margin: 0 1rem 2em;
  padding: 1em;
  border-bottom: solid #FF7F00 6px;
}

.post-wrapper .post {
  border-bottom: none;
  margin: 0;
}

.post-wrapper h2 {
  color: black;
  padding: .5em 0 0;
}

.post a {
  color: #7E160A;
}

.post a:hover {
  background-color: #FFC8C2;
}

.post h2 a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 0 rgb(255, 213, 173);
}

.post h2 a:hover {
  background-color: #FFDCB8;
}

.entrybody {
  overflow: auto;
}

.author {
  float: right;
  margin: .5rem 0;
  color: #444;
}

.preview-date {
  float: right;
}

.pagination {
  margin: 0 0 1em;
  text-align: center;
}

.comments {
  text-align: center;
  color: black;
  padding: 0 0 1em;
}

.comments a {
  color: #7E160A;
}

.comments a:hover {
  background-color: #FFC8C2;
}

.highlight pre {
  background-color: #111;
  border: none;
  border-radius: 0;
  padding: .5em;
  font-size: 1em;
}

.highlight code {
  display: inline-block;
  line-height: 1.5em;
  background: transparent;
  border: none;
}

footer {
  text-align: center;
  padding: 0 1em 1em;
  margin: 1em 0 0;
}

footer a, .pagination a {
  color: #ccc;
}

footer a:hover, .pagination a:hover {
  color: #ccc;
  background-color: #333;
}