 <div class="post clearfix post-{{ page.id }}">
  <div class="preview-date">
    {{ page.date | date: '%B %d, %Y' }}
  </div>
  <h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <div class="entrybody">
    {% case page.preview %}
      {% when "all" %}
        {{ page.content }}
      {% when nil %}
        {{ page.content | strip_html | truncatewords:100 }}
      {% else %}
        {{ page.content | truncatewords:page.preview }}
    {% endcase %}
  </div>
  {% if page.preview != "all" %}
    <div class="read-more">
      <a href="{{ page.url }}">read more</a>
    </div>
  {% endif %}
</div>